#team {
  position:relative;
  h2 {
  margin:0;
  padding:120px 0;
  background:#f4f4f4;
  font-size:26px;
  font-weight:bold;
  }
  .fa-heart {color:#D23333;}
  ul {
  postion:relative;
  margin-top:-60px;
  }
  h3 {
  margin:10px 0 0;
  font-size:16px;
  font-weight:bold;
  color:#666;
  }
}
